<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>平均工资</title>
    <script src="js\vue.min.js"></script>
    <script src="js\axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css\style.css"/>
    <link type="text/css" rel="stylesheet" href="css\element.css"/>
    <script type="text/javascript" src="js\jquery-1.9.1.min.js"></script>
    
</head>
<body>
    <div id="dataList">
        <!-- <el-button @click="visible = true">按钮</el-button> -->
        <el-dialog :visible.sync="visible" v-bind:title="'【详细信息】' + (company != null?company.companyShortName:'null')" center>
            <el-card class="box-card">
                <div class="text item">
                    <p v-if="company != null && company.companyId != null"><span>公司编号 : </span>{{company.companyId}}<br></p>
                    <p v-if="company != null && company.companyShortName != null"><span>公司名称 : </span>{{company.companyShortName}}</p>
                    <p v-if="company != null && company.companySize != null"><span>公司规模 : </span>{{company.companySize}}</p>
                    <p v-if="company != null && company.city != null"><span>所在城市 : </span>{{company.city}}</p>
                    <p v-if="company != null && company.avgSalaryMax != null"><span>平均工资(最高) : </span>{{company.avgSalaryMax}}K</p>
                    <p v-if="company != null && company.avgSalaryMin != null"><span>平均工资(最低) : </span>{{company.avgSalaryMin}}K</p>
                    <p v-if="company != null && company.industryField != null"><span>行业 : </span>{{company.industryField}}</p>
                </div>
            </el-card>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="visible = false">确 定</el-button>
            </span>
        </el-dialog>
        <div>
            <table>
                <tr>
                    <td>选择：</td>
                    <td class="select">  
                        <input type="hidden" name="type" id="way" v-bind:value="[way]">                                          
                        <input type="radio" name="condition" v-model="way" id="city" value="city">按城市
                        <input type="radio" name="condition" v-model="way" id="company" value="company">按公司
                    </td>
                    <td class="select">
                        <input type="hidden" name="type" id="salary" v-bind:value="[salary]">    
                        <input type="radio" name="salary" v-model="salary" id="min" value="avg_salary_min">按最低工资
                        <input type="radio" name="salary" v-model="salary" id="max" value="avg_salary_max">按最高工资
                        <input type="checkbox" name="desc" v-model="desc" id="desc" >逆序
                    </td>
                    <td><input type="button" v-on:click="reload" value="查询"></td>
                </tr>
            </table>
        </div>
        <div>
            <table id="tblist">
                <tr>
                    <td>{{way}}</td>
                    <td>Min-AvgSalary</td>
                    <td>Min-AvgSalary</td>
                </tr>
                <tr v-for="list in info.list">
                    <template v-if="way === 'city'">
                        <td>{{list.cityName}}</td>
                        <td>{{list.avgSalaryMin}}K</td>
                        <td>{{list.avgSalaryMax}}K</td>
                    </template>
                    <template v-else>
                        <td>{{list.company_name}}<input style="float: right;" type="button" v-on:click="getCompany" value="详情" v-bind:title="[list.company_id]"/></td>
                        <td>{{list.minSalary}}K</td>
                        <td>{{list.maxSalary}}K</td>
                    </template>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="page" v-on:click="firstPage">首页</a>
                        <a class="page" v-on:click="prePage">上一页</a>
                        <a class="page">第{{info.pageNum}}页/共{{info.pages}}页</a>
                        <a class="page" v-on:click="nextPage">下一页</a>
                        <a class="page" v-on:click="lastPage">尾页</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript" src="js\element.js"></script>
    <script>
        new Vue({
            el: '#dataList',
            data () {
                return {
                    way:'company',
                    salary:'avg_salary_min',
                    info:'null',
                    page:1,
                    desc:false,
                    companyid:"",
                    visible:false,
                    company:null
                }
            },
            mounted () {
                this.getdata()
                this.pageStart_companyInfo()
            },
            methods:{
                pageStart_companyInfo: function(){//初始化公司信息
                    // axios
                    //     .get("/lagou/mongodb/findOneCompany?companyId="+"34863")
                    //     .then(response => (this.company = response.data))
                    //     .catch(function (error) { // 请求失败处理
                    //         console.log(error);
                    //     });
                },
                firstPage: function(){
                        this.page=1
                        this.getdata()
                    },
                lastPage: function(){
                    this.page=this.info.pages
                    this.getdata()
                },
                prePage: function(){
                    // this.page=this.page-1
                    this.page=this.info.prePage
                    this.getdata()
                },
                nextPage: function(){
                    // this.page=this.page+1
                    this.page=this.info.nextPage
                    this.getdata()
                },
                reload: function(){
                    this.page=1
                    this.getdata()
                },
                createUrl: function(){
                    var url = '/lagou/position/mongodb/avgsalaryby'+this.way+'?order='+this.salary+'&desc='+!this.desc+'&pageNum='+this.page+'&pageSize=10'
                    return url
                },
                getdata:function (){
                    if(this.page<=1){
                        this.page=1;
                    }
                    axios
                        .get(this.createUrl())
                        .then(response => (this.info = response.data))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                            if (error.response.status == '401') {
                                alert("没有权限!请先登录")
                                window.location.href='/UserPage/login.html'
                            }
                        });
                },
                getCompany:function(event){
                    axios
                        .get("/lagou/mongodb/findOneCompany?companyId="+event.currentTarget.title)
                        .then(response => (this.company = response.data))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                            if (error.response.status == '401') {
                                alert("没有权限!请先登录")
                                window.location.href='/UserPage/login.html'
                            }
                        });
                    this.visible = true;
                }
            }
        })
    </script>
</body>
</html>